GOOGLE_TOKEN=token.json
GOOGLE_CREDENTIALS=credentials.json
# Template, using \r\n as line endings
TEMPLATE_PATH=template_example.txt
SUBJECT=This is your subject
# Recipients, separatted by comma (,)
RECIPIENTS=firstemail@gmail.com,secondemail@gmail.com
SENDER=sender@gmail.com
COOLDOWN_FILE=/tmp/mail/cooldown
# 86400 = 24*60*60 = one day
COOLDOWN_SECS=86400
